<%= form_with(model: workout) do |f| %>
  <% if workout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= f.label :train_id, style: "display: block" %>
    <%= f.text_field :train_id, "205") %>
  </div>

<br>

<div>
  <%= f.label :exercise_id, style: "display: block" %>
  <%= f.collection_select :exercise_id, Exercise.all, :id, :name_with_initial, prompt: true %>
</div>

<br>

  <button type="submit" class="btn btn-primary">Create Workout </button>

<% end %>