<%= form_with(model: train) do |form| %>
  <% if train.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
        <% train.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h5>
      Выберете TrainPlan:
    </h5>
  </div>

  <div>
    <%= form.label :train_plan_id, style: "display: block" %>
    <%= form.collection_select :train_plan_id, TrainPlan.all, :id, :name_with_initial, prompt: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
