<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Exercise:</strong>
    <%= @exercise_name %>
  </p>
  <p>
    <strong>Train_block_id:</strong>
    <%= @exercise.train_block_id %>
  </p>
  <p>
    <strong>Approach_number:</strong>
    <%= @exercise.approach_number %>
  </p>
  <p>
    <strong>Repeats:</strong>
    <%= @exercise.repeats %>
  </p>
  <p>
    <strong>Mass:</strong>
    <%= @exercise.mass %>
  </p>
  <p>
    <strong>Train.id:</strong>
    <%= @train_id %>
  </p>


 <%= button_to 'Save exercise', method: :post, action: :done %> 

  <%# <%= button_to 'Save exercise', method: :post, controller: 'workouts', action: :create, params: { workout: { train_id: @train_id, exercise_id: @exercise.id } } %> 

</div>