<div id="<%= dom_id exercise %>">
  <p>
    <strong>Train block:</strong>
    <%= exercise.train_block_id %>
  </p>

  <p>
    <strong>Approach number:</strong>
    <%= exercise.approach_number %>
  </p>

  <p>
    <strong>Repeats:</strong>
    <%= exercise.repeats %>
  </p>

  <p>
    <strong>Mass:</strong>
    <%= exercise.mass %>
  </p>

</div>
