<p style="color: green"><%= notice %></p>

<%= render @train_block %>

<div>
  <%= link_to "Edit this train block", edit_train_block_path(@train_block) %> |
  <%= link_to "Back to train blocks", train_blocks_path %>

  <%= button_to "Destroy this train block", @train_block, method: :delete %>
</div>
